# data dirctory
dataset

# Data
*.csv

lap_gnn_figure_3_1_assets/

# Outputs
*.pth
*.pt
artifacts/
outputs/
output/
output_smoke/
outputs_log/
outputs_image/
# WandB
wandb/

# Python
__pycache__/

# IDE
.vscode/

/eda/

# Q, misc
zmisc


#data quá lớn không pub
dataset/
.zip
